@import '../../../../styles/mixins.scss';

.slideshow-description {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  background-color: var(--color-tertiary-light);

  @include respond(phone) {
    flex-direction: column;
    min-height: auto;
  }

  

  &__cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 40%;
  }

  &__info {
    display: flex;
    justify-content: space-around;
    min-height: 100%;
    box-shadow: 5px 5px 20px #293b48, -5px -5px 20px #4c6c85;
    flex: 1;

    @include respond(phone) {
      flex-direction: column-reverse;
      width: 100%;
    }

    @include respond(tab-port) {
      flex-direction: column-reverse;
      width: 100%;
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 7rem;
      flex: 0 0 60%;

  
      @include respond(tab-port) {
        padding: 0 10rem;
      }

      @include respond(phone) {
        padding: 1rem 3rem;
      }

    }

    & > div {


    }
  }
}
