.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;

  border-radius: 50%;
  background: #ff94a1;

  box-shadow: 9px 9px 28px #c27a82, -9px -9px 28px #ffb8c2;

  &__photo {
    width: auto;
    height: 100%;
    margin-top: 5rem;
  }

  &__middle {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #c27a82, -2px -2px 5px #ffb8c2;
    border: 2px solid #fb7c85;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: linear-gradient(to right, #231f20, #141212);
    border: 2px solid #b8595f;
    position: relative;
  }
}
