@import '../../../../styles/mixins.scss';

.underlined-btn {
  margin: 4rem auto;
  transform: scale(1) translateY(0rem);

  border-bottom: 5px solid currentColor;
  padding: 2rem 0rem;
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.1, 1.5);
  position: relative;


    
  @include respond(tab-port) {
    margin: 0rem auto;
    padding: 1rem 2rem 0rem 2rem;
    border-bottom: none;
    text-align: right;
    font-size: 2.5rem;
  }

  @include respond(phone) {
    margin: 2rem auto;
    padding: 1rem 2rem 0rem 2rem;
    border-bottom: none;
    text-align: right;
    font-size: 2rem;
  }

  a {
    color: #eee;
  }

  @media (hover: hover) {
    &:hover {
      transform: scale(1.2) translateY(-0.9rem);
      padding: 2rem 2rem;
    }
  }
}
