@import '../../../styles/mixins.scss';

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e4818d;
  z-index: -1;


  @include respond(tab-port) {
    display: flex;
    justify-content: center;
  }

  @include respond(phone) {
    display: flex;
    justify-content: center;
  }

  &__layer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(
      to right top,
      var(--color-primary-dark),
      var(--color-primary-light)
    );
    opacity: 0.6;
  }

  &__img {

    
    
    @include respond(tab-port) {
      width: auto;
      height: 70vh;
    }
    
    @include respond(phone) {
      width: auto;
      height: 70vh;
    }
    
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 6px 6px 10px #c27a82, -6px -6px 10px #ffb8c2;
  }

  &__loader {
    @include respond(phone) {
      top: 35%;
      width: 40%;
    }
    width: 20%;
    height: auto;
    position: absolute;
    top: 25%;
    display: none;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
  }
}
