@import '../../../styles/mixins.scss';

.phone {
  background-color: var(--color-primary-light);
  color: #fff;
  overflow: hidden;
  height: auto;

  .flex-start {
    align-items: flex-start;
    margin-left: 0;

    .secondary-phone-header {
      @include respond(phone) {
        transform: translateY(5rem);
        align-items: center;
      }
    }
  }
}

.phone-element {
  justify-items: flex-start;

  @include respond(tab-port) {
    transform: translateY(-20rem);
    justify-self: center;
  }

  @include respond(phone) {
    transform: translateY(-10rem);
    justify-self: center;
  }

}
