.icon__link-logo {
  width: 1.7rem;
  height: 1.7rem;
  fill: currentColor;
  margin-right: 0.5rem;
  transition: all 0.4s;
  position: relative;
  overflow: visible;
}

.icon__link-box {
  border-bottom: 3px solid transparent;
  position: relative;
  z-index: 9;

  a {
    display: flex;
    align-items: center;
    justify-content: stretch;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1.5rem;
    transition: all 0.4s;

    &::after {
      transition: all 0.4s;
      content: "";
      width: 2px;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 0;
      height: 5px;
      border-radius: 1px;
      position: absolute;
      background-color: #eee;
      z-index: -1;

      transform: scaleY(0);
      transition: transform 0.15s,
        width 0.2s cubic-bezier(0.34, 1.56, 0.64, 1) 0.2s;
    }

    @media (hover: hover) {
      &:hover::after {
        transform: scale(1);

        width: 80%;
      }
    }
  }
}
