@import '../../../styles/mixins.scss';

.details-section {
  display: flex;
  justify-content: space-between;
  font-family: apercu_monoregular;
  padding-top: 3rem;

  @include respond(phone) {
    font-size: 1rem;
    text-align: center;
  }
}
