.GSAP--chip {
  transform: rotate(0deg) translate(20rem, 10rem);
}

.react--chip {
  transform: rotate(10deg) translate(15rem, 15rem);
}

.sass--chip {
  transform: rotate(15deg) translate(0, 15rem);
}

.css--chip {
  transform: rotate(20deg) translate(-5rem, 5rem);
}

.html--chip {
  transform: rotate(20deg) translate(-15rem, 0rem);
}

.swift--chip {
  transform: rotate(25deg) translate(-10rem, -20rem);
}
