@import '../../../../../styles/mixins.scss';

.project-paragraph {
  font-size: 1.5rem;
  color: currentColor;



  @include respond(tab-port) {
    text-align: center;
    font-size: 2rem;
  }

  @include respond(phone) {
    text-align: center;
    font-size: 1.7rem;
  }
}
