@import '../../../../styles/mixins.scss';

.slideshow--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  overflow: hidden;
  position: relative;
  @include respond(phone) {
    height: 50vh;
  }
}
